* {
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 3vh;
}


html {
    background-color: rgb(250, 250, 250);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

#AppDiv {
    display: inline-flex;
    margin: 1ex;
    flex-direction: row;
    align-items: flex-start;
}

#DataSectionDiv {
    flex-basis: 33%;
    border: 2px solid rgb(145, 199, 237);
    border-radius: 10px;
    padding: 1vh;
    height: 98vh;
}

#AISectionDiv {
    align-self: flex-start;
    flex-basis: 33%;
    max-height: 40vh;
    overflow: auto;
    margin-left: 1ex;
    padding: 1vh;
    border: 2px solid rgb(145, 199, 237);
    border-radius: 10px;
}

#PaymentsSectionDiv {
    align-self: flex-start;
    flex-basis: 33%;
    max-height: 55vh;
    overflow: auto;
    margin-left: 1ex;
    padding: 1vh;
    border: 2px solid rgb(145, 199, 237);
    border-radius: 10px;
}
